<div data-controller="hello">
  <h1>Oh Hey There!</h1>
  <p>This is a big test to see if stimulis works. Lets see: <span data-target="hello.output"></span></p>
</div>
<hr>
<div data-controller="clipboard members dashboard">
  PIN
  <input type="text" data-target="clipboard.source" value="1234" readonly>
  <button data-action="clipboard#copy" class="clipboard-button">
    Copy to Clipboard
  </button>
</div>